apiVersion: v2
name: my-argo-chart
description: A Helm chart for Argo CD, Argo Workflows, and Argo Events
version: 0.1.0
dependencies:
  - name: argo-cd
    version: 9.1.6
    repository: "https://argoproj.github.io/argo-helm"
    condition: argo-cd.enabled

  - name: argo-workflows
    version: 0.45.27
    repository: "https://argoproj.github.io/argo-helm"
    condition: argo-workflows.enabled

  - name: argo-events
    version: 2.4.16
    repository: "https://argoproj.github.io/argo-helm"
    condition: argo-events.enabled

  - name: argo-rollouts
    version: 2.40.5
    repository: "https://argoproj.github.io/argo-helm"
    condition: argo-rollouts.enabled

  - name: argocd-apps
    version: 2.0.2
    repository: "https://argoproj.github.io/argo-helm"
    condition: argocd-apps.enabled
